img {
  width: 50%;
  margin-left: 6%;
}
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

button {
  opacity: 0.5;
  border-radius: 5px;
  height: 35px;
}
input {
  width: 70%;
  border-radius: 5px;
  margin-left: 12%;
  opacity: 0.5;
}
.container {
  color: white;
  text-align: center;
  font-size: 20px;
  width: 25%;
  border: 1px dotted white;
  float: left;
  margin: 2%;
  margin-left: 10%;
}
.m {
  margin-top: 20px;
  height: 30px;
}
h1 {
  font-size: 110%;
}
span {
  font-size: 1.4em;
}
