.card1 {
  width: 25%;
  border: 1px solid grey;
  margin: 10px;
  padding-left: 10px;
  background-color: lightgray;
}
.card-container {
  background-color: rgb(159, 173, 221);
  border: 1px solid rgb(131, 202, 122);
  height: auto;
  margin-left: 10px;
  margin-right: 10px;

  text-align: center;
  position: relative;
}
h3 {
  color: rgb(35, 24, 187);
}
body {
  background-color: rgb(158, 157, 211);
}

.btn {
  color: red;
  width: 31%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
}
